<% provide(:title, 'New room') %>
<h1>Add some description</h1>

<div class="row">
  <div class="span6 offset3">
<%= form_for @room, :url => hotel_rooms_path,
 :html => {:multipart => true} do |f| %>
   


      <%= f.label :room_type %>
      <%= f.text_field :room_type %>

      <%= f.label :room, :price %>
      <%= f.text_field :price %>

      <p>
      Included breakfast 
      <%= f.check_box :breakfast_included %>
      </p>

      <%= f.file_field :photo %>
      <p></p>
      
     
      
      <%= submit_tag 'Add', class: "btn btn-large btn-primary" %>
   <% end %>
  </div>
</div>

