<% provide(:title, "Room N#{@room.room_number}") %>
<div >
  
    
      <h1>
      	<%= "Room N#{@room.room_number}" %>
      </h1>
      <%= image_tag @room.photo_url %>
	
	<br>
      Room type: <%= @room.room_type %>
      <br>
      Price: <%= @room.price %>
      <div>
  <%= link_to " Back to the rooms list ", 
            hotel_rooms_path(params[:hotel_id]) %>
            <br>
  <%= link_to " Back to the hotel ", 
            hotel_path(params[:hotel_id]) %>
            <br>
  <%= link_to " Back to the hotels list ", 
            hotels_path %>
    	</div>
</div>