<% provide(:title, "Hotels") %>
<div style = "margin-left:30px">
  
      <h2>

      	Best five hotels
</h2>       

      	<%  @hotelsordered.each do |h|  %>
        <div style = "float:left; margin-bottom:20px;">
           <div style = "height:150px; width:300px;">
      	     <%= link_to image_tag(h.hphoto_url(:thumb)), 
             hotel_path(h.id) %>
           </div>
           <%= h.title %> 
           (<%= (h.star_rating/h.rates_count).round(2) %>)
      	</div>
      	<% end %>
      
</div>

</div>
<div><p>Other hotels (in alphabetic)</p>
      <%  @otherhotels.each do |h|  %>
      <%= link_to h.title, 
             hotel_path(h.id) %>
      (<%= (h.star_rating/h.rates_count).round(2) %>)
             <% end %>
     </div>
     <div>
      <%= link_to "Add new hotel", 
             new_hotel_path %>
      
     </div>